  /* Optional: Makes the sample page fill the window. */
html, body {
   width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: yellow;
  }

#mapas-del-mundo{
    width: 100%;
    height: 100%;
  }

  #data {
      display: none;
  }
 